<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Code Usage</title>
        
        <!-- CSS -->
        <style>
        body{
            background-image: url("/static/images/help_bg.jpg");
            background-size:cover;
            background-attachment: fixed;
        }
        </style>
    </head>
    <body>
        <div align="left" style="margin-left: 5%">
            <h1>How to use the codes generated?</h1>
            <h3>1. Copy your codes and open Quer: <a href="https://uqer.io/" target="_blank">click here</a> ;</h3>
            <p><img src="/static/images/uqer_index.jpg" style="width:800px"></p>
            <br>
            <h3>2. Register an new account and then log in;</h3>
            <p><img src="/static/images/uqer_login.jpg" style="width:800px"></p>
            <br>
            <h3>3. Click "开始研究"; </h3>
            <p><img src="/static/images/research_1.jpg" style="width:600px"></p>
            <br>
            <h3>4. Click "新建"; </h3>
            <p><img src="/static/images/research_2.jpg" style="width:800px"></p>
            <br>
            <h3>5. Click "新建策略"; </h3>
            <p><img src="/static/images/research_3.jpg" style="width:600px"></p>
            <br>
            <h3>6. A template of strategy code has been prepared for you, but you need clear them and paste your own; </h3>
            <p><img src="/static/images/research_4.jpg" style="width:850px"></p>
            <br>
            <h3>7. Paste your own codes in. You also can rename and save your strategy; </h3>
            <p><img src="/static/images/research_5.jpg" style="width:850px"></p>
            <br>
            <h3>8. Start back testing; </h3>
            <p><img src="/static/images/research_6.jpg" style="width:800px"></p>
            <br>
            <h3>9. Roll down the webpage, you can see the back testing procedure in dynamic and assessments on your strategy; </h3>
            <p><img src="/static/images/research_7.jpg" style="width:800px"></p>
            <br>
            <h3>10. Congratulation! <br> You have completed your own first strategy on Uqer! Funny? Try more and seek a more profitable strategy! Enjoy! </h3>
            <br>
            <br>
        </div>
        <div align="center" class="copyright"><p>Copyright @ Hongzoeng Ng, kenecho@hku.hk</p></div> 
    </body>
</html>
